@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Odibee+Sans&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  justify-content: center;
}

#logo{
  font-family: 'Luckiest Guy', cursive;
  color:black;
  font-size: 1,5rem;
}

#cate1{
  margin-right: 50px;
}

#cate2{
  margin-right: 50px;
}
