@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&display=swap');

#logo a {
  font-family: 'Indie Flower', cursive;
  color: purple;
  font-size: 2rem;
}

#botonera ul li a {
  margin: 0 auto;
  display: block;
  width: 50%;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-family: 'Cinzel', serif;
}

#botonera ul li a:hover {
  color: white;
  cursor: pointer;
}

#itemList {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  display: flex;
  height: auto;
  width: 30rem;
  padding: 2rem;
  border: 2px solid pink;
}

.card img {
  max-width: 100%;
  max-height: 80%;
}

.card div {
  height: 50%;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 25rem;
  min-height: 25rem;
  padding: auto;
  background-color: white;
  border: 2px solid pink;
  box-shadow:
    1px 1px 41px none;
  font-family: 'Amiri Quran', serif;
}